{% extends 'main.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/home_page.css' %}" />
{% endblock %}
{% block content %}
    <div id="app">
    <div class="swiper-wrapper">
          {% include 'base/tinder_card.html' %}
    </div>
  </div>
{% endblock %}
{% block extraScript %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {% if user.is_authenticated %}
  <script type="text/javascript">
    window.CSRF_TOKEN = '{{ csrf_token }}'
  </script>
    <script src="{% static '/scripts/tinder_data.js' %}"></script>
  {% endif %}
{% endblock %}
