{% load static %}
{% for comp in comp_activities %}
  <div class="swiper-slide" id="{{ comp }}_{{ comp.id }}">
    <div class="swiper-tinder-label-parent">
      <div class="swiper-tinder-label swiper-tinder-label-yes">Like</div>
      <div class="swiper-tinder-label swiper-tinder-label-no">Nope</div>
    </div>
    <div class="swiper-content">
      <div class="TitleBar">
        {% if comp|stringformat:'s' == 'competition' %}
          <a class="SitconX" href="{% url 'competition_info' comp.id %}">{{ comp.name|slice:30 }}</a>
        {% else %}
          <a class="SitconX" href="{% url 'activity_info' comp.id %}">{{ comp.name|slice:30 }}</a>
        {% endif %}
        <img draggable="false" src="{{ comp.cover_img_url }}" alt="" />
      </div>
      <div class="TagBar">
        {% for tag in comp.tags.all|slice:'0:5' %}
          <div class="TagKind">
            {% with var=comp|stringformat:'s' %}
              {% with tag_str=tag|stringformat:'s' %}
                <a class="Tag text-dark" href="{% url 'find_'|add:var %}?category={{ tag_str }}"><b>{{ tag_str|slice:8 }}</b></a>
              {% endwith %}
            {% endwith %}
          </div>
        {% endfor %}
      </div>
      <div class="ShortData">
        <p class="text-light">
          {% if comp.agency_title != None %}
            <b>籌辦組織：</b>{{ comp.agency_title }}
            <br />
          {% endif %}
          {% if comp.page_views != None %}
            <b>瀏覽次數：</b>{{ comp.page_views }}
            <br />
          {% endif %}
          {% if comp.start_time != None %}
            <b>開始報名日期：</b>{{ comp.start_time }}
            <br />
          {% endif %}
          {% if comp.end_time != None %}
            <b>截止日期：</b>{{ comp.end_time }}
          {% endif %}
        </p>
      </div>
      <div class="ShortDescription text-light">
        <p>
          {% if comp.summary != None %}
            {{ comp.summary|slice:150|linebreaksbr }}
          {% else %}
            {{ comp.description|striptags|slice:150|linebreaksbr }}
          {% endif %}
        </p>
      </div>
      <div class="SeeMoreButton">
        <div class="Frame6">
          <img class="Ellipse1" src="{% static 'images/mascot.png' %}" alt="Mascot Image" />
          <div class="Sitcon">
            <b>SightPath</b>
          </div>
        </div>
        <div class="Button">
          {% if comp.eventIdNumber != None %}
            <a class="Button text-dark" href="https://www.accupass.com/event/{{ comp.eventIdNumber }}" target="_blank" rel="noopener noreferrer"><b>更多資訊</b></a>
          {% else %}
            <a class="Button text-dark" href="{{ comp.url }}" target="_blank" rel="noopener noreferrer"><b>更多資訊</b></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% comment %} <div class="swiper-slide demo-empty-slide">
  <img draggable="false" alt="Image description" class="loading" src="{% static 'images/user_profile_img/loading.gif' %}" />
</div> {% endcomment %}
